{% extends 'base.html' %}


{% block content %}
    
        <section class="text-center">
            <h1>{{title}}</h1>
            <p><a href="//www.jiloc.com/go/bwh">搬瓦工</a>优惠码：<code>BWH3HYATVBJW</code> ,
            
        </section>

        <!-- <div class="col-md-3 mb-3">
            <select class="custom-select" id="company" @change="searchData">
                <option value=""> -- </option>
                <template v-for='val in companys'>
                    <option v-bind:value="val">{[val]}</option>
                </template>
            </select>
        </div> -->

        <!-- <div class="col-7">
            <input type="text" class="form-control" placeholder="Search" name="search" @change="searchData">
        </div> -->

        <div class="row mb-3 justify-content-md-center">
            <div class="col-6"><input class="form-control mr-sm-2 search" type="text" placeholder="Search" aria-label="Search" v-model="search"></div>
            <div class="col-1"><button type="button" class="btn btn-primary" @click.navite="searchData()">搜索</button></div>
            <div class="col-1"><button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal">订阅</button></div>
        </div>
        

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" v-for="title in titles">{[title]}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in page_arrs" :key="index" :class=" item.sort > 99 ? 'table-primary' : '' ">
                    <td>{[index+1]}#</td>
                    <td>{[item.company__name]}</td>
                    <td>{[item.dc]}</td>
                    <td>{[item.cpu]}</td>
                    <td>{[item.ram]}</td>
                    <td>{[item.disk]}</td>
                    <td>{[item.bandwidth]}</td>
                    <td>{[item.traffic]}</td>
                    <td>{[item.route]}</td>
                    <td>{[item.ipv4]}</td>
                    <td>{[item.arch]}</td>
                    <td v-html="$options.filters.formatPrice(item)"></td>
                    <td v-html="$options.filters.stockToBuy(item)" ></td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination  justify-content-center">
              <li :class="current_page == 1 ? 'page-item disabled' : 'page-item' "><a class="page-link" href="#" @click="primaryPage"> << </a></li>
              <li :class="current_page == 1 ? 'page-item disabled' : 'page-item' "><a class="page-link" href="#" @click="prePage"> < </a></li>
              <li v-for="index in indexs" :class="current_page == index ? 'page-item active' : 'page-item' "><a class="page-link" href="#"  @click="btnClick(index)">{[ index ]}</a></li>
              <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">{[current_page]} / {[all]}</a></li>
              <li :class="current_page == all ? 'page-item disabled' : 'page-item' "><a class="page-link" href="#" @click="nextPage()"> > </a></li>
              <li :class="current_page == all ? 'page-item disabled' : 'page-item' "><a class="page-link" href="#" @click="lastPage"> >> </a></li>
            </ul>
        </nav>




    <footer>
        <div class="container text-center" >
            <p>数据最后更新时间：<code>{{update_time}}</code></p>
            <p><a href="https://github.com/qsbaq/vps-stock-monitor">GitHub</a> Author: <a href="//www.jiloc.com">Jerry</a></p>
        </div>
    </footer>

{% endblock %}







{% block script %}


<script type="text/javascript">
var app = new Vue({
    delimiters:['{[', ']}'],
    el: '#app',
    data: {
        arrs: {},
        list:{{goods|safe}},
        search:'',
        companys:[],
        titles : ['#','服务商','机房',"CPU",'内存','硬盘','带宽','流量','线路','IPV4','架构','价格','库存'],
        currentPage : 1,//当前页号
        pagesize : 24, //每页大小
        all:0,
    },　　
    filters:{
        formatPrice: function(obj){
            $str = '';
            if(obj.annual)
                $str += obj.annual+'/年<br/>';
            if(obj.quarter)
                $str += obj.quarter+'/季<br/>';
            if(obj.month)
                $str += obj.month+'/月<br/>';
            return $str;
        },
        stockToBuy: function(obj){
            if(obj.company__connect_pid){
                url = obj.company__url+obj.pid;
            }else{
                url = obj.company__url;
            }
            sold = '<a href="'+url+'" class="btn btn-primary active" role="button" aria-pressed="true">购买</a>';
            soldout = '<button class="btn btn-secondary" disabled="true">售罄</button>';
            if( (obj.company__need_monitor && obj.stock) ||  ! obj.company__need_monitor )
                return sold;
            else
                return soldout;
            
        }
    },
    created: function () {
        this.arrs = this.list;
        let tmp = [];
        this.arrs.map((item)=>{tmp.push(item.company__name)});
        this.companys = new Set(tmp);
    },
    computed:{
        page_arrs(){
            let {currentPage,pagesize,arrs} = this
            this.all = Math.ceil(this.arrs.length/pagesize)
            return arrs.slice((currentPage-1)*pagesize,currentPage*pagesize)
        },
        indexs: function(){
            var left = 1;
            var right = this.all;
            var ar = [];
            if(this.all>= 5){
                if(this.currentPage > 3 && this.currentPage < this.all-2){
                    left = this.currentPage - 2
                    right = this.currentPage + 2
                }else{
                    if(this.currentPage<=3){
                        left = 1
                        right = 5
                    }else{
                        right = this.all
                        left = this.all -4
                    }
                }
            }
            while (left <= right){
                ar.push(left)
                left ++
            }
            return ar
        },
        current_page(){
            return this.currentPage
        }
    },
    methods: {
        searchData(){
            let search = $('.search').val();
            this.currentPage = 1;
            if( search != '' ){
                this.arrs = this.list.filter(function(item){
                    if ( item.company__name.toLowerCase().includes( search.toLowerCase() )   )
                        return item;
                })
            }else{
                this.arrs = this.list;
            }
        },
        primaryPage(){
            this.currentPage = 1
        },
        prePage(){
            if(this.currentPage == 1){
                return
            }
            this.currentPage = this.currentPage - 1
        },
        nextPage(){
            if(this.currentPage == Math.ceil(this.arrs.length/this.pagesize)){
                return
            }
            this.currentPage = this.currentPage + 1
        },
        lastPage(){
            this.currentPage = Math.ceil(this.arrs.length/this.pagesize)
        },
        btnClick: function(data){//页码点击事件
            if(data != this.currentPage){
                this.currentPage = data 
            }
        },
    },
    watch:{
        
    }

})
</script>


{% endblock %}
